<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pothole Report</title>
</head>
<body>

</p> 
Dear Sir/Madam,
<br/><br/>

I am writing to you on behalf of the Pothole Patrol team, an organization that is dedicated to identifying and reporting potholes on the roads in our community.

<br/><br/>
We have recently received reports in your <b>{{state}}</b> from our users regarding a pothole located at the following geo-coordinates: <b>[{{latitude}}, {{longitude}}]</b>. We believe that this pothole poses a significant risk to the safety of drivers and pedestrians who use this road on a regular basis.

<br/><br/>
We kindly request that your organization take action to repair this pothole as soon as possible. We understand that maintaining the road network is a challenging task, but we believe that prompt action is necessary to prevent any accidents or damage to vehicles.

<br/><br/>
We would be happy to provide any additional information or assistance that may be needed to address this issue. Please do not hesitate to contact us if you have any questions or concerns.

<br/><br/>
Thank you for your attention to this matter. We look forward to hearing back from you soon.

<br/><br/><br/>
Sincerely,<br/>
Pothole Patrol Team
    
</body>
</html>